html {
    box-sizing: border-box;
    height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

a {
    padding: 0;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    height: 100%;
   
   
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  
}

.main {
    flex: 1 0 auto;
    background-color: bisque;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25vw;
    background-color:gold;
}

.header {
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header__inner {
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
}

.logo-link {
    width: 12.0833vw;
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-link span {

    color: #000000;
}
.menu{
    width: 24.5vw;
    margin-left: 7.75vw;
}
.menu__list {
    display: flex;
}
.menu__list-item + .menu__list-item {
    margin-left: 4.1666vw;
}


.header__inner a:hover,
:active,
:focus {
    color: #2196F3;
}

.header__contacts{
    display: flex;
    margin-left: 27.5833vw;
}

.header__phone {
    white-space: pre;
    margin-left: 4.1666vw;
}