html {
    box-sizing: border-box;
    height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

a {
    padding: 0;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;




}

.wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main {

    flex: 1 0 auto;
    background-color: bisque;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: gold; */
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header__inner {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    height: 80px;
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-link span {
    color: #000000;
}

.header__inner a:hover,
:active,
:focus {
    color: #2196F3;
}

.header_menu {
    margin-left: 7.75vw;
}

.menu__list {
    display: flex;
}

.menu__list-item:not(:last-child) {
    margin-right: 4.1666vw;
}

.header__contacts {
    display: flex;
    color: #757575;
    margin-left: auto;
}

.header__phone {
    /* white-space: nowrap; */
    margin-left: 4.1666vw;
}

.line {
    margin: 0;
    background-image: linear-gradient(to right, transparent, rgba(47, 48, 58, 0.4), transparent);
    border: 0;
    height: 1px;

}

.top__banner {
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;

    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    outline: 2px solid green;
}

.banner__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


.top__banner-text {

    margin-top: 200px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order__btn {


    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    border: 0;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


@media (max-width:768px) {


    .header__contacts {

        flex-direction: column;

    }

    .header__phone {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width:430px) {}