html {
    box-sizing: border-box;
    height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

@media (max-width:768px) {
    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__contacts {
        margin-right: auto;
    }
}

a {
    padding: 0;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    height: 100%;



}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main {
    flex: 1 0 auto;
    background-color: bisque;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: gold;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header__inner {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    height: 80px;
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-link span {
    color: #000000;
}

.header__inner a:hover,
:active,
:focus {
    color: #2196F3;
}

.header_menu {
    margin-left: 7.75vw;
}

.menu__list {
    display: flex;
}

.menu__list-item:not(:last-child) {
    margin-right: 4.1666vw;
}

.header__contacts {
    margin-left: auto;
}

.header__phone {
    white-space: nowrap;
    margin-left: 4.1666vw;
}